<li class="nav-header">MULTI LEVEL </li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-circle-fill"></i>
    <p>Empresas</p>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-circle-fill"></i>
    <p>
      1. Automotivo Level 1
      <i class="nav-arrow bi bi-chevron-right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon bi bi-circle"></i>
        <p>1.2. Aulas Level 2 sem</p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-record-circle-fill"></i>
            <p>1.2.3.4 Aulas Level 4</p>
          </a>
        </li>
    </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon bi bi-circle"></i>
        <p>
          1.2.3 Aulas Level 3
          <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-record-circle-fill"></i>
            <p>1.2.3.4 Aulas Level 4</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-record-circle-fill"></i>
            <p>Level 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-record-circle-fill"></i>
            <p>Level 3</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon bi bi-circle"></i>
        <p>Level 2</p>
      </a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-circle-fill"></i>
    <p>Level 1</p>
  </a>
</li>
